<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<!--Navbar INDEX-->
<div th:fragment="navbar" class="container-fluid forCenter">

    <a class="navbar-brand" href="/">
        <img class="img-fluid" src="../static/img/logo.png" th:attr="src=@{/img/logo.png},title=#{logo},alt=#{logo}" />
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!--Navbar do modo anônimo-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent" sec:authorize="isAnonymous()">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item mx-4">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>

            <li class="nav-item mx-4">
                <div class="dropdown">

                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Login
                    </button>

                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <button class="dropdown-item" type="button" onclick="window.location.assign('/login')">
                            Acesso Aluno
                        </button>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <button class="dropdown-item" type="button" onclick="window.location.assign('/login')">
                            Acesso Secretaria
                        </button>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <!--Navbar do aluno-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent" sec:authorize="hasAuthority('aluno')">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item mx-4">
                <a class="nav-link active" aria-current="page" href="/">
                    Home
                </a>
            </li>

            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle active" id="navbarScrollingDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Aluno Logado
                </a>

                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarScrollingDropdown">
                    <li>
                        <a class="dropdown-item" href="pagaluno">Dados Pessoais</a>
                    </li>
                </ul>
                
            </li>
        </ul>
    </div>

    <!--Navbar da secretaria-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent" sec:authorize="hasAuthority('admin')">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item mx-4">
                <a class="nav-link active" aria-current="page" href="/">
                    Home
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" id="navbarScrollingDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Secretaria
                </a>

                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarScrollingDropdown">
                    <li>
                        <a class="dropdown-item" href="/cadastroaluno">Cadastro de Usuarios/Salas</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/manteralunos">Atualizar dados Usuarios/Salas</a>
                    </li>
                </ul>

            </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
        </ul>
    </div>

    <div class="d-flex col-2" sec:authorize="isAuthenticated()">
        <span class="text-white small" sec:authentication="name"></span>
    </div>
    <div>
        <form th:action="@{/logout}" method="post" class="ml-4" sec:authorize="isAuthenticated()">
            <input class="btn btn-secondary btn-sm p-1 small" type="submit" value="Sair" />
        </form>
    </div>
</div>

</html>