<!-- ******************************************
*  Created On : Sun Jan 16 2022
*  Modelo de arquivo HTML para adicionar nova tela de conteúdo dentro do layout estabelecido no arquivo fragmentos/layout.html
******************************************* -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragmentos/layout">
<div th:fragment="conteudo" class="container">
    <!-- insira seu código aqui -->
    <h1 class="text-center text-white p-3">
        Solicitação de Ajuste de Dados
    </h1>
    <form class="was-validated row">
        <div class="col-sm-1 col-md-6 col-lg-6">
            <div>
                <label for="validationServer01" class="form-label">Nome Completo</label>
                <input type="text" class="form-control is-valid" id="validationServer01" required />
            </div>
            <div>
                <label for="rg" class="form-label">Data de Nascimento</label>
                <input type="date" class="form-control is-valid" id="rg" required />
            </div>

            <div>
                <label for="cpf" class="form-label">Cadastro de Pessoa Física</label>
                <input type="number" class="form-control is-valid" id="cpf" required />
            </div>

            <div>
                <label for="endereco" class="form-label">Endereço</label>
                <input type="text" class="form-control is-valid" id="endereco" required />
            </div>

            <p class="text-center">Responsáveis</p>

            <div>
                <label for="mae" class="form-label">Nome Completo da Mãe</label>
                <input type="text" class="form-control is-valid" id="mae" required />
            </div>

            <div>
                <label for="pai" class="form-label">Nome Completo do Pai</label>
                <input type="text" class="form-control is-valid" id="mae" required />
            </div>

            <div>
                <label for="telMae" class="form-label">Telefone Mãe</label>
                <input type="tel" class="form-control is-valid" id="telMae" required />
            </div>

            <div>
                <label for="telPai" class="form-label">Telefone Pai</label>
                <input type="tel" class="form-control is-valid" id="telPai" required />
            </div>
        </div>

        <div class="col-sm-1 col-md-6 col-lg-6">
            <div>
                <label for="certidaoNascimento" class="form-label text-center">Certidão de Nascimento</label>
                <input type="file" class="form-control" aria-label="file example" id="certidaoNascimento"
                    required />
            </div>

            <div>
                <label for="registroGeral" class="form-label text-center">Registro Geral (frente e verso)</label>
                <input type="file" class="form-control" aria-label="file example" id="registroGeral" required />
            </div>

            <div>
                <label for="cadastroPF" class="form-label text-center">Cadastro de Pessoa Física (frente e
                    verso)</label>
                <input type="file" class="form-control" aria-label="file example" id="cadastroPF" required />
            </div>

            <div>
                <label for="comprovanteEndereco" class="form-label text-center">Comprovante de Endereço</label>
                <input type="file" class="form-control" aria-label="file example" id="comprovanteEndereco"
                    required />
            </div>

            <p class="text-center">Responsáveis</p>

            <div>
                <label for="rgMae" class="form-label text-center">Registro Geral da Mãe (frente e verso)</label>
                <input type="file" class="form-control" aria-label="file example" id="rgMae" required />
            </div>

            <div>
                <label for="rgPai" class="form-label text-center">Registro Geral da Pai (frente e verso)</label>
                <input type="file" class="form-control" aria-label="file example" id="rgPai" required />
            </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto mb-5 mt-5">
            <button class="btn btn-primary" type="button">
                Enviar Arquivos Para Ajuste
            </button>
        </div>
    </form>
</div>

</html>