<!-- ******************************************
*  Created On : Sun Jan 16 2022
*  Modelo de arquivo HTML para adicionar nova tela de conteúdo dentro do layout estabelecido no arquivo fragmentos/layout.html
******************************************* -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragmentos/layout">
<div th:fragment="conteudo" class="container">
    <!-- insira seu código aqui -->
    <h1 align="center">Seja bem vindo a SmartSchool</h1>
        <br>
        <div class="d-flex justify-content-center">
            <img src="/img/smartIntro.jpg" alt="">
        </div>
</div>

</html>